<%= form_for @message, html: {class: "form-horizontal"} do |f| %>
        <% if @message.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@message.errors.count, "error") %> prohibited this task from being saved:</h2>
            <ul>
              <% @message.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <form class = "form-horizontal">
          <div class= "form-group">
            <%= f.label :first_name, "Name", class: "control-label col-md-2" %>
            <div class = "form-controls col-md-4">
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>
          <div class = "form-group">
            <%= f.label :message, "Message", class: "control-label col-md-2" %>
            <div class = "form-controls col-md-4">
              <%= f.text_area :message, class: "form-control" %>
            </div>
          </div>

          <div class = "form-group">
              <div class = "col-md-offset-2 col-md-4">
                <%= f.submit "Create message", style: "background-color: #74001C; border: #74001C", class: "btn btn-primary" %>
                <%= link_to "Cancel", root_path, class: "btn btn-default" %>
              </div>
          </div>


        </form>

      <% end %>
