

<div class = "text-right" >
<%= link_to 'Edit',  "edit_message_modal", class: "btn btn-primary", style: "background-color: #498F8D; border: #498F8D", 'data-target' => "##{message.id}", 'data-toggle' => 'modal'  %>
<%= link_to 'Delete', message, class: "btn btn-danger", style: "background-color: #EB0002; border: #EB0002", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class="modal fade" id ="<%= message.id %>", tabindex="-1" role="dialog" aria-labelledby="edit_message_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class = "modal-header">
        <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close"><span aria-hidden = "true">&times;</span></button>
        <h4 class = "modal-title" id = "edit_message_modal_label">Edit Message</h4>
      </div>

      <div class = "modal-body">

        <%= form_for message do |f| %>

          <form>

            <div class= "form-group">
              <%= f.label :first_name, "First Name", class: "control-label" %>
              <%= f.text_field :first_name, class: "form-control" %>
            </div>

            <div class= "form-group">
              <%= f.label :message, class: "control-label" %>
              <%= f.text_area :message, class: "form-control" %>
            </div>

            <div class = "form-group">
                <%= f.submit class: "btn btn-primary" %>
                <%= submit_tag "Cancel", :type => :reset, :class => "btn btn-default", "data-dismiss" => "modal", "aria-hidden" => "true" %>
            </div>

          </form>

        <% end %>

      </div>

    </div>
  </div>
</div>
